*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html {
    scroll-behavior: smooth;
}
    
h1,
h2,
h3,
h4
h5,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 360px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #2d3038;
    background-color: #f0f0f0;
}

.header {
    background-color: #343536; 
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 6.25rem;
    align-items: center;
    
}
.subnav {
    display: flex;
    justify-content: space-between;
    gap: 1.87rem;
    align-items: center;
}

.avatar {
    background-image: url(assets/FE.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50px; 
    box-shadow: 0 0 7px #666; 
    opacity: 0.7;
}

.avatar:hover {
    opacity: 1;
    transition: .3s ease-in-out;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #7e6a5b;
    cursor: pointer;
    opacity: 0.7;
}

a:hover {
    color: #666666;
    transition: 0.5s ease-in;
    opacity: 1;
}

ul li a {
    display: block;
    font-size: 1.25rem;
    color: #eadcd1;
}

ul li:first-child a {
    opacity: 1;
}

ul li a:hover {
    color: #f0f0f0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo {
    width: 30%;
    object-fit: cover;
}

h1 {
    font-size: 4.25rem;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

h2 {
    font-size: 2.68rem;
    letter-spacing: 0.37rem;
}

h3 {
    padding: 10px 0 10px 0;
}

h5 {
    padding: 5px 0 5px 0;
}

.about {
    padding: 30px 0 30px 0;
    background-color: #ffff;
}

.description {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 50%;
    font-size: 1.25rem;
}

p {
    font-size: 1.37rem;
    padding: 5px 0 5px 0;
}

.contacts, .courses {
    display: flex;
    justify-content: space-between;
    max-width: 648px;
    margin: 0;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts li a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #7e6a5b;
}

.contacts li a:first-child:hover {
    color: #2d3038;
    background-color: #ebe7e7;
    border-radius: 5px;
    transition: 0.6s ease-in;
}

.contacts li a:nth-child(2):hover {
    color: #666666;
    opacity: 1;
    transition: 1s ease-in-out;
}

.link {
    display: block;
    cursor: pointer;
    opacity: 0.7;
}

.link:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: 1s ease-in-out;
}

.skills, .projects, .languages {
    padding: 30px 0 30px 0;
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

.experience, .education {
    padding: 30px 0 30px 0;
    background-color: #ffff;
}

code {
    display: block;
    padding-left: 15px;
    background-color: #f0f0f0;
}

.project-link {
    width: 50%;
    opacity: 1;
}
figure a {
    opacity: 1;
}

.logo-education {
    position: absolute;
    width: 4.81rem;
    height: 4.93rem;
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.education-info {
    display: flex;  
}

.sub-education {
    padding-left: 7.18rem;
}

.languages-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 529px;
}

.languages-info {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.sub-info {
    margin-top: 15px;
    max-width: 7.81rem;
    max-height: 6.87rem;
    font-size: 2.25rem;
    text-align: center;
    color:  #7e6a5b;
}

.sub-info:hover {
    border-radius: 50px;
    box-shadow: 0 0 14px #666;
    color: #8d8888;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.footer {
    height: 6.25rem;
    background-color: #343536; 
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    height: inherit;
    align-items: center;
}

.footer-info, .footer-home, details, summary {
    color: #eadcd1; 
    font-size: 1.375rem;
}
.home-link {
    display: block;
    font-weight: 700;
    color: #eadcd1;
    opacity: 1;
    
}

.logo-footer {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 0 7px #666;
}


